<md-toolbar>
  <div class="md-toolbar-tools">
      <p><strong>Online Store</strong></p>
    <md-button ng-click='openSidebar()'>

      <ng-md-icon icon="add_circle" style='size: 10px'></ng-md-icon>
      New Product
    </md-button>    

     <md-button ng-click='productSearch()'>

      <ng-md-icon icon="search" style='size: 10px'></ng-md-icon>
      Search
    </md-button> 
  </div>
</md-toolbar>  
 
<div class="search" layout='row' layout-align='center center' ng-show='filterSearch'>
    
    <md-input-container md-autofocus class='searchline'>
          <label for='search'>Search Here</label>
          <input type='textarea' ng-model='productFilter'></input>
    </md-input-container>


    <md-input-container md-autofocu>
      <label>category</label> 
        <md-select ng-model='category'>
          <md-option ng-repeat='category in categories' value='{{category}}'>
            {{ category }}
          </md-option>
        </md-select>
    </md-input-container>

    <md-input-container md-autofocus>

      <md-button class='md-warn' ng-click="productFilter =''; category=''">clear search</md-button>
    </md-input-container>
</div> 

<md-sidenav
 class ='md-sidenav-right md-whiteframe-z2'
 md-component-id='left'
 >
 <md-toolbar>
   <h1 class="md-toolbar-tools">Add a Product</h1>
 </md-toolbar>  
 <md-content layout-padding>
 <form>
   <md-input-container>
     <label for='title'>Title</label>
     <input type="text" id="title" md-autofocus ng-model='product.title'>
     </md-input-container>
     <md-input-container>
     <label for='price'>Price</label>
     <input type="text" id="price" ng-model='product.price' md-autofocus>
     </md-input-container>
     <md-input-container>
     <label for='price'>Description</label>
     <textarea type='text' id='description' ng-model='product.description' ></textarea> 
     </md-input-container>
     <md-input-container>
     <label for='image'>Image Link</label>
     <textarea type='text' id='image' ng-model='product.image'></textarea> 
     </md-input-container>
     <md-button class='md-primary' ng-click= 'saveProduct(product)' ng-if='!editing' >Save</md-button>
     <md-button class='md-primary' ng-if='editing' ng-click='saveEdit()'>Save Edit</md-button> 
     <md-button class='md-warn' ng-click='closeSidebar()' >Cancel</md-button> 
     <pre>{{product | json}}</pre>
   </form>
 
   
 </md-content> 
 </md-sidenav>

<md-content class='md-padding' layout='row' layout-wrap>
  <md-card flex='30' ng-repeat='product in products   | 
                                filter: productFilter |
                                filter: category' class='products'>
  
   <md-card-content>
   <div class="product-info" ng-show='!showContact'>
   <h2 class="md-title">{{product.title}}</h2>
   <h3>{{product.price | currency}}</h3>
   <p>{{product.posted | date }}</p>
   <p>{{product.description}}</p>
   </div>
   <div class="product-contact" ng-show='showContact'>
     <p><ng-md-icon icon='account_circle'></ng-md-icon>{{product.contact.name}}</p>
     <p><ng-md-icon icon='email'></ng-md-icon>{{product.contact.email}}</p>
     <p><ng-md-icon icon='phone'></ng-md-icon>{{product.contact.phone}}</p>
   </div>
   <div layout='row'>
   <md-button 
   ng-click='showContact=true'
   ng-show='!showContact'
   >Contact</md-button>
   <md-button 
   ng-click='showContact=false'
   ng-show='showContact'
   >Details</md-button>
   <md-button 
   ng-click='showAdmin=true'
   ng-show='!showAdmin'
   >Admin</md-button>
   <md-button 
   ng-click='showAdmin=false'
   ng-show='showAdmin'
   >Close</md-button>
   </div>
   <div class="product-admin" ng-if='showAdmin'>
    <h3>Admin</h3> 
      <div>
        <md-button ng-click ='editProduct(product)' class='md-primary'>Edit</md-button>
        <md-button class='md-warn' ng-click='deleteProduct(product, $event)'>Delete</md-button>
      </div>    
   </div>
   </md-card-content>
  </md-card>
</md-content>